@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Hi There, this is the GIT demo project using Git extensions. I wish to have this project serve as tutorial on GitHub.git </p>
